<div class="container">
    <h1>Корзина</h1>
</div>
<div class="container">
    {% if cart|length > 0 %}
        {% for product in cart %}
            <div id="product_id-{{ product.product_id }}"
                 data-count="{{ product.count }}"
                 data-price="{{ product.price }}"
            >
                <img src="/images/products/previews/{{ product.image }}"
                     alt="$product"
                     style="width: 300px"
                >
                <div>
                    {{ product.name }}
                </div>
                <div>
                    {{ product.price | number_format(0, '', ' ') }} p. *
                    <span>
						<button class="product-count-action"
                                data-id="{{ product.product_id }}"
                                data-action="del"
                        >
							-
						</button>
					</span>
                    <span class="prod-count">
						{{ product.count }}
					</span>
                    <span>
						<button class="product-count-action"
                                data-id="{{ product.product_id }}"
                                data-action="add"
                        >
							+
						</button>
					</span>
					<span class="prod-sum">
						{{ (product.price * product.count) | number_format(0, '', ' ') }} p.
					</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
